/* ---------------------------------------------------------
      Base
   ---------------------------------------------------------
*/


.navbar-fixed-top {max-height:50px;}

#signOutBtn{
  margin-right: 50px;
}

.sidebar {

  padding-left: 0px;

}

.body-content{ }


/* ---------------------------------------------------------
      Diary & Timeline
   ---------------------------------------------------------
*/


#storyInput{
  padding-bottom: 15px;
}

.storyMeta {

  font: italic 500 12px "freight-text-pro", Georgia, "Times New Roman", Serif;
  color: #222;
  margin-bottom: 10px;
}


/* ---------------------------------------------------------
      POST
   ---------------------------------------------------------
*/

#postList{

  /* vh = viewport height
  height:80vh;
  overflow-y:scroll;
  overflow-x:hidden;

   */
 }


/* ---------------------------------------------------------
      PROFILE
   ---------------------------------------------------------
*/

.showProfileData {

  background-color: #DDD;
}
