.navbar-fixed-top {max-height:50px;}

#signOutBtn{
  margin-right: 50px;
}

.sidebar {

  padding-left: 0px;

}

.body-content{ }

/* ---------------------------------------------------------
      POST
   ---------------------------------------------------------
*/

#postList{

  /* vh = viewport height
  height:80vh;
  overflow-y:scroll;
  overflow-x:hidden;

   */
 }

.username{
  font-weight: bold;
}

.postComment{

  list-style:none;
  padding-right : 0;
}

.commentInput{
  padding-left : 40px;
  margin-bottom : 10px;

}

.commentInput input{
  width: 100%;
}

.commentBody {

  margin-left : 45px;
}

/* ---------------------------------------------------------

   ---------------------------------------------------------
*/
